

<main>
  <h2>Home component</h2>
  <router-outlet></router-outlet>
  <!-- <app-form></app-form> -->
  <!-- Lifecycle component -->
  <br><br>
  <ul>
    <!-- One way to add router -->
    <!-- <li><a [routerLink]="['basic']">Switch and If case</a></li>
    <li><a [routerLink]="['table']">Table and Form</a></li>
    <li><a [routerLink]="['documents']">Study material</a></li> -->
    <li><a routerLink="/basic">Switch and If case</a></li>
    <li><a routerLink="/table">Table and Form</a></li>
    <li><a routerLink="/documents">Study material</a></li>
    <li><a routerLink="/doc/1">Study material with router arg 1 </a></li>
  </ul>
</main>
